<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h2>Create new Chat Here!</h2>
    <form method="POST" action="/chats">
        <input name="name" type="text" placeholder="Enter your name" required>
        <input name="msg" type="text" placeholder="Enter your Message" required>
        <input name="receiver" type="text" placeholder="Enter the receiver" required>
        <button>Save</button>
    </form>
</body>
</html>